*{
    margin: 0;
    padding: 0;
    
}

body{
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    background-image: url(./ceu-de-pixel-art-horizonte-de-8-bits-de-nuvens-paisagem-de-nuvem-de-videogame-retro-e-fundo-nublado_.png);
    background-size: 100%;

}
.login{
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 20px;

    animation-name:animalog ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    
}

button{
    background-color: aqua;
    width: 100%;
    border-radius: 20px;
}

#logo{
    padding-bottom: 10px;
    font-size: 2em;
}

a{
    text-decoration: none;
    color: white;
}


.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#titulo{
    left: 50%;
    transform: translate( 13%);
    font-size: 7em;
    font-family: 'VT323', monospace;
    grid-column: 2 / 3;
}

#flappimg{
    width: 100%;
    height: 400px;
    background-image: url(./nigbird.png);
    grid-column: 1 / 2;
    grid-row: 1 ;

    animation-name:anima ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
#flappimg2{
    width: 100px;
    height: 90px;
    background-image: url(./nigbird.png);
    /* grid-column: 1 / 2;
    grid-row: 2 / 3; */

    animation-name:anima ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

   
}

/* :hover{
    animation-play-state: paused;
} */


@keyframes anima{
    from{
        transform: translateX(200px) ;
        transform: translateY(100px);
    }

    to{
        transform: translateX(50px);
        transform: translateY(50px);
    }
}

@keyframes animalog{
    from{
        transform: translateY(-50px);
    }

    to{
        transform: translateY(10px);
    }
}

@keyframes girar{
    from{
        
    }
}

#titulo2{
    left: 50%;
    transform: translate( 40%);
    font-size: 7em;
    font-family: 'VT323', monospace;
    grid-column: 3 / 3;
   
}



